<!DOCTYPE html>
{% extends "udl_app/base.html" %}
{% block body_block %}
    <h1 class="display-4">Welcome to the UDL Project!</h1>
    <hr class="my-4">
    <p class="lead">Login</p>
    <form class="needs-validation was-validated" method="post">
        
        {% for message in messages %}
        <div class="mb-1">
            {{ message }}
        </div>
        {% endfor %}
            
        <input class="mb-1 form-control" style="max-width:500px" type="text" name="username" placeholder="Username" required>
        <input class="mb-1 form-control" style="max-width:500px" type="password" name="password" placeholder="Password" required>
        {% csrf_token %}
        <input class="mb-1 btn btn-primary" type="submit" value="Login">
    </form>
    <p class="lead">Please proceed to register if you haven't been here before.</p>
    <a class="btn btn-primary" href="{% url 'register_view' %}">Register</a>
{% endblock %}
