<!DOCTYPE html>
{% extends "udl_app/base.html" %}
{% load custom_templates %}
{% block body_block %}
    {% if registered %}
        <h1 class="display-4">Thank you for registering!</h1>
        <hr class="my-4">
        <p class="lead">Please proceed to the home page.</p>
        <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
    {% else %}
        <h1 class="display-4">Register Now</h1>
        <hr class="my-4">
        <p class="lead">It's quick and easy!</p>
        <form class="needs-validation was-validated" enctype="multipart/form-data" method="post">
            <div id="user-form">
                <div>
                    {{ user_form.errors }}
                    {{ profile_form.errors }}
                </div>
            </div>
            <div class="input-group mb-1" style="max-width:500px">
                <label class="input-group-text">Upload profile picture</label>
                {{ profile_form.profile_pic|add_attributes:"class=form-control" }}
            </div>
            {{ profile_form.aadhaar_id|add_attributes:"class=mb-1 form-control,style=max-width:500px,min=100000000000,max=999999999999,placeholder=Aadhaar Id" }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="submit" value="Register">
        </form>
        <script type="text/javascript">

            // for user_form
            {% for field in user_form %}
            var new_div = document.createElement("div");
            var input_element = '{{ field|add_attributes:"class=mb-1 form-control,style=max-width:500px" }}';
            new_div.innerHTML = input_element;
            new_div.childNodes[0].placeholder = '{{ field.label }}';
            document.getElementById("user-form").appendChild(new_div);
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}
